<section>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="add-plane">AddPlane</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="add-pilot">AddPilot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="add-hangar">AddHangar</a>
        </li>
         <!-- Dropdown -->
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Views
           </a>
          <div class="dropdown-menu">
            <a class="dropdown-item"  routerLink="manager-list">ManagerList</a>
            <a class="dropdown-item" routerLink="pilot-list">Pilot List</a>
           <a class="dropdown-item" routerLink="plane-list">Plane List</a>
           </div>
       </li>
      </ul>
    </nav>
</section>

<router-outlet></router-outlet>
  